* {
    box-sizing: border-box;
}

@font-face {
    font-family: arial;
    src: url();
}

html {
    height: 100%;
}

body {

    margin: 0;
    background-color: #0D262D;
    color: #fff;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

[wm-Knucles] {

    background-image: url(../img/EmeraldIsland.png);
    background-size: 100%;

    position:relative;
    

    border: 5px solid darkblue;
    height: 700px;
    width: 1200px;
    margin: 15px;

    background-color: deepskyblue;
    overflow: hidden;

}

.knucles {
    position: absolute;
    width: 100px;
    left: calc(50% - 30px);
    bottom: 50%;
}

.par {
    position: absolute;
    top: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.twin {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.twin .borda  {
    height: 60px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;

}

.twin .corpo {
    height: 150px;
    width: 110px;

    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;

}

.progress {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;

    position: absolute;
    top:10px;
    left: 1135px;
    z-index: 100;
}

.esmeralda {
    padding-left: 86.5%;
    padding-top: 20%;

    height: 50%;
}